<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Vicente Calfo</title>
</head>

<body>

    <div class="wrapper">
        <header>
            <div class="tools">
            <button class="btn-theme">
                <i class="fa-regular fa-sun"></i>
            </button>
            <div class="search">
                <input type="text" />
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
            <nav class="social">
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-github-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <nav>
           
            <div class="logo">Olá, eu sou o Vicente.</div>
            <img class="avatar"
                src="https://pps.whatsapp.net/v/t61.24694-24/322210519_3394370600814906_7383493973695114102_n.jpg?ccb=11-4&oh=01_AdSysqbJakeitjyVwsREsvG_VnqTyld_1p2iBxVaZ7ANlw&oe=63E612FB" />
        </nav>
        <main>
            <ul class="posts">
                <li>
                    <img src="./bg-post-sample.png" />
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <div>

                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id semper nulla, a facilisis risus. Nam eget lacinia odio, non egestas eros. Morbi vestibulum, dolor et interdum bibendum, libero sapien iaculis odio, eu accumsan magna odio in elit</p>
                    <a href="#">Ler mais <i class="fa-solid fa-chevron-right"></i></a>
                </li>
               

            </ul>
        </main> 
    </div>

</body>

</html>