html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas: "header header" "nav main";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 15% 1fr;
}

header {
  grid-area: header;
  background-color: #000;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .tools {
  display: flex;
  gap: 30px;
}
header .btn-theme {
  outline: none;
  border: none;
  font-size: 22px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
header .search {
  display: flex;
}
header .search input {
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
}
header .search button {
  border: none;
  outline: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
header .social {
  background-color: transparent;
}
header .social ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
header .social ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

nav {
  grid-area: nav;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 30px;
}
nav .logo {
  flex-grow: 1;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 400;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  color: #fff;
}
nav .avatar {
  max-width: 60%;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  grid-area: main;
  background-color: #000;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: auto;
}
main .posts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  gap: 30px;
}
main .posts li {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .posts li h1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
main .posts li p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
}
main .posts li a {
  border-radius: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
main .posts li img {
  max-width: 100%;
  border-radius: 5px;
}

/*  Barra de Rolagem */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}/*# sourceMappingURL=style.css.map */